# Visual Studio
.vs/

# Python cache
__pycache__/
*.py[codz]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.manifest
*.spec

# Logs
*.log

# Testing / coverage
.coverage
.coverage.*
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environments
.env
.envrc

# Jupyter
.ipynb_checkpoints

# IDEs
.vscode/

# OS files
.DS_Store
Thumbs.db